/* Add your existing styles here */
:root{
    --positive: #caf57e;
    --negative: #ff8187;
}

body{
    font-family: Poppins;
}

.node:hover{
    cursor: pointer;
    stroke-width: 7px !important;
}