/* Define font import for graphs in <iframes> */
:root{
    --positive: #caf57e;
    --negative: #ff8187;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
}

body{
    font-family: Poppins;
}

.node:hover{
    cursor: pointer;
    stroke-width: 7px !important;
}