:root{
    --text: rgb(255, 255, 255);
    --text-small: rgb(255, 255, 255, 0.4);
    --primary: rgb(255, 185, 54);

    --male: rgb(166, 207, 225);
    --female: rgb(227, 195, 217);

    --bg_base: rgb(15, 9, 28);
    --light_bg: #dd716d;
    --light_bg_opac: #dd716d49;
    --bg: rgb(225, 231, 234);

    --action: #FF6F59;
    --action-hover: #FF8F79;
}

/* Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cutive';
    src: url('../fonts/CutiveMono-Regular.ttf') format('truetype');
}

html{
    /* scroll-snap-type: y mandatory; */
}

small{
    color: var(--text-small);
}

a{
    color: var(--action);
    cursor: pointer;
}

body{
    margin: 0;
    display: grid;
    font-family: Poppins, sans-serif;
    background-color: var(--bg_base);
    /* padding: 0 3em; */
    color: var(--text);
    grid-template-rows: repeat(2, 100vh);
    justify-items: center;
}

body>*{
    margin: 3em !important;
    /* scroll-snap-align: start; */
}

::selection {
    background: var(--primary);
    color: white;
}

strong{
    color: var(--primary);
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}

button{
    position: relative;
    font: inherit;
    color: var(--action);
    padding: 0.75em 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border: 2.5px solid var(--action);
    transition: transform 0.15s;
    outline: none;
}

button::before{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background-color: var(--light_bg);
    opacity: 0.35;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: -1;
}

button:hover{
    color: white;
}

button:active{
    transform: translate(2px, 3px);
    transition: transform 0s;
    background-color: var(--action);
}

button:hover::before{
    top: 0;
    left: 0;
}

/* Header */
header{
    display: grid;
    background-position: center;
    background-image: url(../img/tile.jpg);
    background-size: 50em;
    color: var(--text);
    overflow: hidden;
    z-index: 0; /* So that the elements inside can be positioned above */

    max-width: 1400px;
    margin: 0 auto;
    border-radius: 3em;
}

h1, h2, h3{
    margin: 0;
}

header h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8em;
    line-height: 1.3;
}

header .hero{
    display: grid;
    gap: 2em;
}

header .hero .tagline{
    font-size: 1.1em;
    display: flex;
    gap: 1em;
}

header .hero .tagline::before{
    content: '';
    display: block;
    width: 0.4em;
    background-color: var(--primary);
    border-radius: 5em;
}

header .hero button{
    margin-right: auto;
}

header .container{
    padding: 0 4em;
    display: grid;
    gap: 5em;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}

/* @media screen and (max-width: 1400px){
    body{
        padding: 0;
    }
    header{
        border-radius: 0;
        height: 100vh;
    }
} */

header .hero_asset{
    display: grid;
    position: relative;
    grid-template-rows: 1fr auto 1fr;
    gap: 1em;
    max-width: 800px;
    width: 100%;
    margin: auto;
}

header .hero_asset::before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(../img/cover.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.4) translateX(10%) rotate(-0deg);

    pointer-events: none;
}

/* Tag design */
.tag{
    display: flex;
    font-size: 1.6em;
    gap: 1em;
    
    background-color: var(--action);
    padding: 0em 0.5em;
    border-radius: 0.5em;
    
    align-items: center;
    margin: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));

    animation: float 3s ease-in-out infinite alternate;

    max-width: 15em;

    /* outline: 6px solid var(--male); */
    /* outline-offset: 5px; */
}

@keyframes float {
    0% {
        transform: rotate(-1deg) translateY(0.3em);
    }
    100% {
        transform: rotate(1deg) translateY(0em);
    }
}

.tag .tag_paper{
    color: black;
    display: grid;
    background-color: rgb(255, 255, 255);
    font-family: 'Cutive', monospace;
    padding: 0.8em;
    gap: 0.5em;
}

.tag .tag_hole{
    width: 1em;
    min-width: 1em;
    height: 1em;
    background-color: rgb(82, 42, 55);
    border-radius: 100%;
}

.tag .elval{
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

.tag .elval .t_title{
    font-size: 0.8em;
    opacity: 0.5;
}

.tag .elval .t_value{
    font-size: 1.2em;
    border-bottom: 1.7px solid rgba(0,0,0,0.2);
    flex: 1;
}

.tag .elval .t_value#name{
    gap: 0;
    display: flex;
}

.tag .elval .separator{
    margin: 0.1em;
    width: 0.06em;
    background-color: black;
    border-radius: 1em;
    animation: blink 1s step-start 0s infinite;
    transform: translateY(-0.1em);
    opacity: 0;
}

@keyframes blink {
    50% {opacity: 1;}
}

.tag .bottom_line{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1em;
}

.tag .bottom_line .t_value{
    font-size: 0.8em;
}

/* Float movie design */
.hero_asset .movie_holder{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-between;
}

.hero_asset .movie_holder.top{
    width: 90%;
}


.hero_asset .movie_holder .poster{
    display: flex;
    align-items: flex-end;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    gap: 1.5em;
}

.hero_asset .movie_holder .poster.zeroth{
    transform: scale(1.1) translate(0, -2em) rotate(3deg);
}

.hero_asset .movie_holder .poster.first{
    transform: scale(0.9) translate(0em, -3em) rotate(-2deg);
}

.hero_asset .movie_holder .poster.second{
    transform: scale(1.1) translate(0, 4em) rotate(1deg);
}

.hero_asset .movie_holder .poster.third{
    transform: scale(0.9) translate(0, 0em) rotate(-4deg);
}

.hero_asset .movie_holder .poster .img{
    height: 8em;
    position: relative;
    z-index: 1;
    aspect-ratio: 182/268;
    background-color: rgb(42, 33, 47);
}

.hero_asset .movie_holder .poster .img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--primary);
    z-index: -1;
    transform: translate(0.75em, 0.75em) rotate(4deg);
    /* border-radius: 0.5em; */
}


.hero_asset .movie_holder .poster .img img{
    height: 100%;
    width: auto;
    object-fit: cover;
    box-shadow: 0.25em 0.25em 0 var(--bg_base);
    /* border-radius: 0.25em; */
}

.hero_asset .movie_holder .poster .data{
    display: grid;
}

.hero_asset .movie_holder .poster .data .year{
    font-size: 0.6em;
    font-weight: bold;
    color: var(--primary);
}

/* Name seacrh box */
.search_area{
    display: grid;
}

.search_area h2{
    font-size: 2em;
}

.search_area .box{
    display: grid;
    gap: 2em;
    max-width: 500px;
    margin: auto;
}

.search_area .input_holder{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1em;
}

.search_name{
    font: inherit;
    font-size: 1.6em;
    color: inherit;
    padding: 0.5em;
    background-color: var(--light_bg_opac);
    
    border: none;
    outline: none;
    
    position: relative;
    display: grid;
    box-sizing: border-box;
    
    color: var(--action);
    
    opacity: 0.8;
    border-left: 0.2em solid transparent;
    width: 100%;

    transition: border-left-color 0.2s;
}

.search_name:hover,
.search_name:focus{
    opacity: 1;
}

.search_name:focus{
    border-left-color: var(--action);
    transition: border-left-color 0s;
}

.search_area .inspiration{
    display: grid;
    align-items: center;
    gap: 0.75em;
    justify-content: center;
    text-align: center;
}

.search_area .inspiration nav{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.inspiration a{
    background-color: var(--primary);
    padding: 0.1em 0.4em;
    color: black;
    font-weight: bold;
    font-size: 0.9em;
    clip-path: polygon(0.1em 0, 100% 0, calc(100% - 0.1em) 100%, 0 100%);
}

.inspiration a:hover{
    opacity: 0.8;
}